#pendingMainContainer{
    width: 100%;
    height: fit-content;
}

#myBooksList{
    
    overflow: hidden;
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    /* gap: 20px; */
    width: 100%;
    height: fit-content;
    max-width: 100%;
    background-color: transparent;
}

#othersBookList{
    overflow: hidden;
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    /* gap: 20px; */
    width: 100%;
    height: fit-content;
    max-width: 100%;
    background-color: transparent;
}


#othersBookList > *{
margin: 40px 8px 53px 8px;
}